.btn-outline-success {
    color: chocolate;
    border-color: chocolate;
}

.btn-outline-success:hover {
    background-color: chocolate;
    color: white;
    border-color: chocolate;
}

.footer {
    border: 1px solid #19110b;
    background-color: #19110b;
}

.first-line {
    color: white;
    border-bottom: 1px solid #392d23;
}

.flag {
    color: white;
}

.second-line a {
    text-decoration: none;
    color: white;
}

.third-line {
    display: none;
    color: white;
    text-align: center;
}

@media screen and (max-width: 48rem){
    .first-line {
        text-align: center;
    }
}

@media screen and (max-width: 48rem){
    .second-line {
        padding-left: 2rem;
        padding-right: 2rem;
        border-bottom: 1px solid #392d23;
    }
}

@media screen and (max-width: 48rem){
    .third-line {
        display: block;
    }
}